<div class="nav-container">
  <div class="nav-menu">
    <a routerLink="/" class="logo-container">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </a>
    <div class="nav-buttons">
      <button mat-raised-button routerLink="/profile">
        <mat-icon class="nav-icon">trending_up</mat-icon>
        Profile
      </button>
      <button mat-raised-button routerLink="/tips">
        <mat-icon class="nav-icon">trending_up</mat-icon>
        My Tips
      </button>
      <button mat-raised-button routerLink="/send-tip">
        <mat-icon class="nav-icon">trending_up</mat-icon>
        Send Tip
      </button>
      <button mat-raised-button routerLink="/user-info">
        <mat-icon class="nav-icon">trending_up</mat-icon>
        User Info
      </button>
      <button mat-raised-button color="warn" (click)="logout()">
        <mat-icon class="nav-icon">trending_down</mat-icon>
        Logout
      </button>
    </div>
  </div>
</div>

<main class="content">
  <router-outlet></router-outlet>
</main>
